* {
	margin: 0;
}
.wrapper {
	width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 20px;
	text-align: center;
	padding: 20px;
}
#navbar {
	width: 100%;
	height: 80px;
	background-color: #0369f9;
}
.starsRating {
	color: #fcba03;
}
#navbarButtons {
	float: right;
	padding: 20px;
}
#navbarButtons button {
	margin: 5px;
	padding: 3px;
	width: 80px;
	border-radius: 3px;
	border-style: none;
	background-color: white;
}
#search {
	height: 200px;
	background-color: #f0f0f0;
	position: relative;
	text-align: center;
}
#search h2 {
	position: relative;
	top: 35%;
}
#searchoptions {
	position: relative;
	top: 55%;
	width: 80%;
	margin: 0 auto;
}
#search select, input {
	height: 40px;
	border-style: none;
	margin: 1px;
	width: 20%;
	padding: 0px;
	text-align: center;
	text-align-last: center;
}

#search button {
	height: 40px;
	background-color: #0369f9;
	color: white;
	width: 100px;
	border-style: none;
}
#results {
	height: 70px;
	margin-top: 50px;
	margin-left: 10px;
}
.item img {
	width: 430px;
	height: 330px;
}
#itemInfo {
	width: 450px;
	margin: auto;
	text-align: left;
}
#itemInfo > * {
	padding: 10px;
}
#itemInfo div {
	display: inline-block;
	padding: 5px;
}
.checked {
  color: orange;
  margin: 2px;
}
#price {
	color: #0369f9;
	font-weight: 900;
}

#main {
	position: relative;
}
#tickets {
	opacity: 0.55;
	display: inline-block;
}
.linkStyle {
	text-decoration: none;
	color: unset;
}
@media only screen and (max-width: 1439px) {
  .wrapper {
  	width: 1024px;
  }
  .item img {
	width: 280px;
	height: 220px;
  }
  #itemInfo {
	width: 280px;
  }
}