input[type="checkbox"] {
	height: unset;
	width: unset;
	color: white;
	margin-right: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.formInput {
	border-bottom: 1px solid #c4c4c4;
	text-align-last: left;
	width: 80%;
	height: unset;
	font-size: 1.1em;
	margin: 20px;
}
*:focus {
	outline: none;
	text-align: left;
}
.formButton {
	margin-top: 20px;
}
.formButton:disabled {
	opacity: 0.6;
}
.form {
	width: 300px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	margin-top: 20%;

}
.form p, a {
	padding: 10px;
	font-size: 1.4em;
}
.form p {
	margin-top: 15px;
}
.form a {
	color: #0369f9;
	text-decoration: none;
	font-weight: bolder;
}
.form h2 {
	margin-bottom: 50px;
}