#profilePage {
	background-color: #d1d1d1;
	position: absolute;
	height: 100%;
	width: 100%;
}
#content {
	width: 900px;
	margin: 0 auto;
}
#editProfile {
	width: 500px;
	border-radius: 5px;
	box-shadow: 5px 5px grey;
	margin: 20px 0px;
	height: 200px;
	background-color: white;
}
.arrowIcons {
	font-size: 50px;
	left: 30px;
	opacity: 0.5;
	top: 50px;
	position: absolute;
}
.arrowIcons:hover {
	opacity: 1;
	cursor: pointer;
}
#rightArrow {
	left: unset;
	right: 30px;
}
.components{
	width: 900px;
	height: 280px;
	margin: 40px auto;
	background-color: white;
	box-shadow: 5px 5px grey;
}
.componentList {
	display: grid;
	position: relative;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
}
#componentsHeading {
	margin-top: 100px;
	margin-left: 10px;
}
#userName {
	margin-bottom: 20px;
}
#editButton{
	margin-top: 80px;
}
#profileImage {
	float: left;
	height: 180px;
	margin: 10px;
	width: 180px;
}